<%- include ('partials/_header'); %>



<form action="/dbs/submit" method="POST">

 

    <label  for="co0">proyecto</label>
    <input  type="text" id="co1" name="co1" placeholder="proyecto"
    <label  for="co1">filename</label>
    <input  type="text" id="co1" name="co1" placeholder="filename"
    <label  for="co2">Code</label>
    <textarea  type="text" id="co2" name="co2" placeholder="Code"></textarea>
    <button class=btn type="submit">Enviar</button>
</form>

<%- include ('partials/_footer'); %>